.inputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.inputContainer * {
  font-size: 24px;
}

.inputContainer input {
  height: 28px;
  text-align: center;
}

.logo {
  height: 34px;
  width: 34px;
  margin-left: 3px;
}
