.inputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.inputContainer * {
  font-size: 14px;
}

.inputContainer input {
  height: 16px;
  text-align: center;
}

.logo {
  height: 22px;
  width: 22px;
  margin-left: 3px;
}
